*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
body{
  scroll-behavior: smooth;
}


.container{
  margin-inline: auto;
  width: 90%;
  max-width: 1300px;
}
button{
  background: transparent;
  border: none;
  cursor: pointer;

}
h1{
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}

p{
  font-size: 1.2rem;
}